h1{
	text-align: center;
}
.subtitulos{
	font-weight: bold;
	font-style: italic;
}
.titulotabla{
	background: #4285f4;
	color: #fff;
	font-weight: bold;
}
.tabladp{
    background: #bababa;
    color:#fff;
}
.tablaho{
	background: #37b358;
    color:#fff;
}
.tablamar{
    background: #4285f4;
    color:#fff;
}
.tablaagrupado{
    background: #ea4335;
    color:#fff;
}
.negrita{
    font-weight: bold;
}
.center{
	text-align: center;
}
.reportevacadesc{
        background: #ea4335;
    color: #fff;
    font-weight: bold;
}